<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <img src="QNR_example_logo.png" alt="QNR Logo" width="108" height="108" class="navbar-brand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</body>
</html>