<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<header class="navbar navbar-expand-md navbar-light bg-light">
    <img src="QNR_example_logo.png" alt="QNR Logo" width="108" height="108" class="navbar-brand">
    <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row justify-content-md-center justify-content-lg-end justify-content-sm-center justify-content-xs-center flexwrap collapse navbar-collapse" id="collapsibleNavbar">
        <u1 class="navbar-nav ml-md-auto">
            <li class="nav-item my-2">
                <a class="nav-item nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Surveys
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My surveys</a>
                    <a class="dropdown-item" href="#">Take surveys</a>
                    <a class="dropdown-item" href="3">Create surveys</a>
                </div>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for(main.personal_info_edit.html) }}">My profile</a>
                    <a class="dropdown-item" href="#">Credit</a>
                    <a class="dropdown-item" href="#">My library</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Privacy policy</a>
                    <a class="dropdown-item" href="#">Cookie setting</a>
                </div>
            </li>
            <div class="row">
             <form class="form-inline" action="search" method="post">
                    <input class="searchuserform mr-md-4" type="search"
                           placeholder="Search users, surveys" aria-label="Search"
                           name="search_term">
                    <button class="search-btn btn-outline-dark my-2" type="submit">Search</button>
                </form>
            </div>
        </u1>
    </div>
</header>
<div class="container-fluid bg-light">
     {% block content %}{% endblock %}
</div>
</body>
</html>