 <script src="../static/js/create_survey.js"></script>
{% extends "base.html" %}
{% block title %}Homepage {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-6">
    <div class="modal-dialog modal-dialog-scrollable modal-sm border border-dark" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Requirements for Respondents</h5>
            </div>
            <div class="modal-body">
               <form method="post" novalidate>

                    <dl>
                        <!-- >form.gender, class='form-control') }}
                        form.age, class='form-control') }}
                         render_field(form.religion, class='form-control') }}
                       render_field(form.ethnic, class='form-control') }}
                        render_field(form.nationality, class='form-control') }} -->
                    </dl>
                </form>
            </div>
                <div class="modal-header">
                    <h5 class="modal-title">Goal</h5>
                </div>
            <div class="modal-body">
                <form method="post" novalidate>

                    <dl>
                        <!--render_field(form.time_window, class='form-control') }}
                        render_field(form.amount_of_survey, class='form-control') -->
                    </dl>
                </form>
            </div>
            <div class="modal-header">
                    <h5 class="modal-title">Privacy</h5>
                </div>
            <div class="modal-body">
                <form method="post" novalidate>

                <dl>
                    <!--render_field(form.open_access) }}
                     render_field(form.friend_only) }}
                     render_field(form.private) -->
                </dl>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="input-group mb-3" style="margin-top: 5px">
            <input type="text" class="form-control" placeholder="Enter your survey title here." aria-label="Question">
            <div class="input-group input-group-sm survey-question-create mb-2">
        </div>
        <input class="btn btn-outline-dark mr-1" type='button' value="+ Add multiple choice question" onclick="addQuestion()" style="margin-top: 20px;margin-bottom: 20px">
        <input class="btn btn-outline-dark mr-1" type='button' value="+ Add comment box" onclick="addCommentBox()" style="margin-top: 20px;margin-bottom: 20px">
        <div id="question">
        </div>
        <a href="{{ url_for('main.finish_create_survey') }}"><input class="btn btn-outline-dark mr-1" type='button' value="Finish Editing" style="margin-top: 20px;margin-bottom: 20px"></a>
    </div>
    </div>
    </div>
{% endblock %}