<script src="../static/js/create_survey.js"></script>
{% extends "base.html" %}
{% block title %}Homepage {% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
<div class="container">
    <div class="row">
    <div class="col-sm-6">
    <div class="modal-dialog modal-dialog-scrollable modal-sm border border-dark" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Requirements for Respondents</h5>
            </div>
            <div class="modal-body">
               <form method="post" novalidate>
                {{ form.csrf_token }}
                    <dl>
                        {{ render_field (form.target_gender, class='form-control') }}
                        {{ render_field (form.target_minimum_age, class='form-control') }}
                        {{ render_field (form.target_maximum_age, class='form-control') }}
                        {{ render_field (form.target_nationality, class='form-control') }}
                        {{ render_field (form.target_religion, class='form-control') }}
                        {{ render_field (form.target_ethnic, class='form-control') }}


                    </dl>
                </form>
            </div>
                <div class="modal-header">
                    <h5 class="modal-title">Goal</h5>
                </div>
            <div class="modal-body">
                <form method="post" novalidate>
                    {{ form.csrf_token }}
                    <dl>
                        {{ render_field(form.end_date, class='form-control') }}
                        {{ render_field(form.respondent_number, class='form-control') }}
                    </dl>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <form method="post" novalidate>
            <button type="submit" class="btn btn-primary">Finish editing the survey</button>
                    {{ form.csrf_token }}
                    <dl>
                        {{ render_field(form.survey_name, class='form-control') }}
                        {{ render_field(form.keyword, class='form-control') }}
                        {{ render_field(form.description, class='form-control') }}
                        <br>
                        {{ render_field(form.q1question_num, class='form-control') }}
                        {{ render_field(form.q1question_must, class='form-control') }}
                        {{ render_field(form.q1question_content, class='form-control') }}
                        {{ render_field(form.q1choice_one, class='form-control') }}
                        {{ render_field(form.q1choice_two, class='form-control') }}
                        {{ render_field(form.q1choice_three, class='form-control') }}
                        {{ render_field(form.q1choice_four, class='form-control') }}
                        <br>
                        {{ render_field(form.q2question_num, class='form-control') }}
                        {{ render_field(form.q2question_must, class='form-control') }}
                        {{ render_field(form.q2question_content, class='form-control') }}
                        {{ render_field(form.q2choice_one, class='form-control') }}
                        {{ render_field(form.q2choice_two, class='form-control') }}
                        {{ render_field(form.q2choice_three, class='form-control') }}
                        {{ render_field(form.q2choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q3question_num, class='form-control') }}
                        {{ render_field(form.q3question_must, class='form-control') }}
                        {{ render_field(form.q3question_content, class='form-control') }}
                        {{ render_field(form.q3choice_one, class='form-control') }}
                        {{ render_field(form.q3choice_two, class='form-control') }}
                        {{ render_field(form.q3choice_three, class='form-control') }}
                        {{ render_field(form.q3choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q4question_num, class='form-control') }}
                        {{ render_field(form.q4question_must, class='form-control') }}
                        {{ render_field(form.q4question_content, class='form-control') }}
                        {{ render_field(form.q4choice_one, class='form-control') }}
                        {{ render_field(form.q4choice_two, class='form-control') }}
                        {{ render_field(form.q4choice_three, class='form-control') }}
                        {{ render_field(form.q4choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q5question_num, class='form-control') }}
                        {{ render_field(form.q5question_must, class='form-control') }}
                        {{ render_field(form.q5question_content, class='form-control') }}
                        {{ render_field(form.q5choice_one, class='form-control') }}
                        {{ render_field(form.q5choice_two, class='form-control') }}
                        {{ render_field(form.q5choice_three, class='form-control') }}
                        {{ render_field(form.q5choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q6question_num, class='form-control') }}
                        {{ render_field(form.q6question_must, class='form-control') }}
                        {{ render_field(form.q6question_content, class='form-control') }}
                        {{ render_field(form.q6choice_one, class='form-control') }}
                        {{ render_field(form.q6choice_two, class='form-control') }}
                        {{ render_field(form.q6choice_three, class='form-control') }}
                        {{ render_field(form.q6choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q7question_num, class='form-control') }}
                        {{ render_field(form.q7question_must, class='form-control') }}
                        {{ render_field(form.q7question_content, class='form-control') }}
                        {{ render_field(form.q7choice_one, class='form-control') }}
                        {{ render_field(form.q7choice_two, class='form-control') }}
                        {{ render_field(form.q7choice_three, class='form-control') }}
                        {{ render_field(form.q7choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q8question_num, class='form-control') }}
                        {{ render_field(form.q8question_must, class='form-control') }}
                        {{ render_field(form.q8question_content, class='form-control') }}
                        {{ render_field(form.q8choice_one, class='form-control') }}
                        {{ render_field(form.q8choice_two, class='form-control') }}
                        {{ render_field(form.q8choice_three, class='form-control') }}
                        {{ render_field(form.q8choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q9question_num, class='form-control') }}
                        {{ render_field(form.q9question_must, class='form-control') }}
                        {{ render_field(form.q9question_content, class='form-control') }}
                        {{ render_field(form.q9choice_one, class='form-control') }}
                        {{ render_field(form.q9choice_two, class='form-control') }}
                        {{ render_field(form.q9choice_three, class='form-control') }}
                        {{ render_field(form.q9choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q10question_num, class='form-control') }}
                        {{ render_field(form.q10question_must, class='form-control') }}
                        {{ render_field(form.q10question_content, class='form-control') }}
                        {{ render_field(form.q10choice_one, class='form-control') }}
                        {{ render_field(form.q10choice_two, class='form-control') }}
                        {{ render_field(form.q10choice_three, class='form-control') }}
                        {{ render_field(form.q10choice_four, class='form-control') }}
 <br>
                        {{ render_field(form.q11question_num, class='form-control') }}
                        {{ render_field(form.q11question_must, class='form-control') }}
                        {{ render_field(form.q11question_content, class='form-control') }}
 <br>
                        {{ render_field(form.q12question_num, class='form-control') }}
                        {{ render_field(form.q12question_must, class='form-control') }}
                        {{ render_field(form.q12question_content, class='form-control') }}
 <br>
                        {{ render_field(form.q13question_num, class='form-control') }}
                        {{ render_field(form.q13question_must, class='form-control') }}
                        {{ render_field(form.q13question_content, class='form-control') }}
 <br>
                        {{ render_field(form.q14question_num, class='form-control') }}
                        {{ render_field(form.q14question_must, class='form-control') }}
                        {{ render_field(form.q14question_content, class='form-control') }}
 <br>
                        {{ render_field(form.q15question_num, class='form-control') }}
                        {{ render_field(form.q15question_must, class='form-control') }}
                        {{ render_field(form.q15question_content, class='form-control') }}

                    </dl>
                                </form>
    </div>
    </div>
</div>
{% endblock %}