{% extends "base.html" %}
{% block title %}Homepage {% endblock %}
{% block content %}
    <div class="row">
        <h3>Welcome to QNR {{ username }}</h3>
    </div>
    <div class="row">
    <div class="col-auto" style="margin-top: 25px">
        <table class="table ml-1 ">
        <tbody class="thead-light">
        <tr>
            <a href="#">
                <img src="QNR_example_logo.png" href="#" class="img-fluid rounded-circle " alt="Profile picture" style="width: 140px;height: auto;" data-toggle="tooltip" title="Change your profile picture"
                     width="225" height="225">
            </a>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="col-lg-8 list-group">
    {% if current_user.is_anonymous %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top: 20px">
            <h4>Please login to discover more! Surveys are waiting for you!</h4></a>
    {% else %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top: 20px">
            <h4>Discover surveys that are suitable for you</h4></a>
        <div class="row">
        <div class="col-sm-4" id="mid">
            {% for result in results %}
          <a class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">{{ result.survey_name }}</h5>
        <small>Survey ID: {{result.survey_id}}</small>
    </div>
        <p class="mb-1">{{ result.survey_name }} description: {{ result.description }}</p >
          </a>
            {% endfor %}
        </div>

    </div>
    {% endif %}
    </div>
    </div>
{% endblock %}