{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post novalidate>
        {{ form.csrf_token }}
    <dl>
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
        {{ render_field(form.remember) }}
        <input type=submit value='Login' class='btn btn-primary'>
    </dl>
</form>
    <p>Register Here: <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
{% endblock %}