{% extends "base.html" %}
{% block title %}Homepage {% endblock %}
{% block content %}
<h3>Edit personal information</h3>
<div class="row">

<!--Left Column-->
  <div class="column left" style="background-color:#aaa;">
        <img src="image/women.png" alt="personal photo">

        <!-- Change photo -->
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changephoto">
                  Change Photo
                </button>
                <div class="modal fade" id="changephoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload your new profile photo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                              <div class="form-group">
                                <label for="exampleFormControlFile1">size limit:__ </label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>

        <!-- Change Password Button trigger modal -->
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changepassword">
                  Change Password
                </button>
                <!-- Modal -->
                <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                          <div class="form-group">
                                    <label for="exampleInputPassword">Enter new password:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword">Re-enter password:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword" >
                                  </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
  </div>

<!--Right Column-->
  <div class="column right">

            <h4>Basic Info:</h4>
              <p>We'll never share your details with anyone else.</p>

    <!--Username-->
        <form>
          <div class="form-group">
            <label for="exampleInputUsername">Username: group8ucl</label>
          </div>
    <!--Birthday-->
          <div class="form-group">
            <label for="exampleInputBirthday">Birthday: 18/02/1990</label>
          </div>
    <!--Email-->
          <div class="form-group">
            <label for="exampleInputEmail">Email: comp0034@ucl.ac.uk</label>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changeemail">
                  edit  <!-- change the data-target = "#___" and then enter the id accordingly -->
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changeemail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change email address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                          <div class="form-group">
                                    <label for="exampleInputPassword">Enter new email:</label>
                                    <input type="email" class="form-control" id="exampleInputEmail">
                                  </div>

                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

    <!--Gender-->
            <div class="form-group">
            <label for="exampleInputGender">Gender: Female </label>
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changegender" >
                  edit  <!-- change the data-target = "#___" and then enter the id accordingly -->
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changegender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change gender</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                            <select name="Your Gender">
                            　<option value="Male">Male</option>
                            　<option value="Female">Female</option>
                              <option value="genderneutral">Non-binary, or gender neutral</option>
                              <option value="NA">Prefer not to say</option>
                            </select>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

    <!--ethnic group-->
          <div class="form-group">
            <label for="exampleInputEthnics">Ethnic group: White</label>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changeethnic">
                  edit
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changeethnic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change ethnic group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                            <select name="Your Gender">
                            　<option value="Male">Male</option>
                            　<option value="Female">Female</option>
                              <option value="genderneutral">Non-binary, or gender neutral</option>
                              <option value="NA">Prefer not to say</option>
                            </select>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

    <!--religion-->
          <div class="form-group">
            <label for="exampleInputReligion">Religion: Atheist</label>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changereligion">
                  edit
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changereligion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change religion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                          <form>
                              <select name="Your Gender">
                                 <option value="Christianity">Christianity</option>
                                  <option value="Islam">Islam</option>
                                  <option value="Hinduism">Hinduism</option>
                                  <option value="Buddhism">Buddhism</option>
                                  <option value="Chinesereligion">Chinese traditional religion</option>
                                  <option value="Atheist">Atheist</option>
                                  <option value="Other">Other</option>
                              </select>
                              <input type="text" name="color" id="color" style='display:none'/>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>

          </div>

    <!--nationality-->
          <div class="form-group">
            <label for="exampleInputNationality">Nationality: British</label>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changenationality">
                  edit
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changenationality" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change nationality:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                        <form>
                              <div class="form-group">
                                <input type="nationality" class="form-control" id="exampleInputNationality" aria-describedby="emailHelp">
                              </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

    <!--education-->
          <div class="form-group">
            <label for="exampleInputEducation">School: University College London</label>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#changeschool">
                  edit
              </button>
                <!-- Modal -->
                <div class="modal fade" id="changeschool" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change school:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> <!-- content -->
                        <form>
                              <div class="form-group">
                                <label for="exampleInputSchool">Please enter the full name of your current school</label>
                                 <input type="school" class="form-control" id="exampleInputSchool" >
                              </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                    </div>
                  </div>
                </div>

          </div>


    </form>
          <h4>Characteristics:</h4>
      <form>
      <div class="form-group">
        <label for="exampleInputSports">Sports: </label>
        <input type="sports" class="form-control" id="exampleInputSports">
      </div>

      <div class="form-group">
        <label for="exampleInputMusic">Music:</label>
        <input type="music" class="form-control" id="exampleInputMusic">
      </div>
        <div class="form-group">
        <label for="exampleInputBooks">Books: </label>
        <input type="books" class="form-control" id="exampleInputBooks">
      </div>
      <div>
        <div class="form-group">
        <label for="exampleInputMovies">Movies: </label>
        <input type="movies" class="form-control" id="exampleInputMovies">
      </div>
      </div>
      </form>
      <button type="submit" class="btn btn-dark">Save changes</button>
  </div>
</div>

</body>
{% endblock %}