<!-- Use the base template -->
{% extends "base.html" %}

{% block title %}Privacy Policy {% endblock %}
{% block content %}
<main>
	<div class="container bg-light">
        <br>
		<h1>Privacy Policy</h1>
        <br>
        <br>
        <br>
			<h2>Private Policy for QNR</h2>
			<p>
                At QNR, accessible at QNR, one of our main priorities is the privacy of our visitors.
                This Privacy Policy document contains types of information that is collected and
                recorded by QNR and how we use it. <br><br>

                If you have additional questions or require more information about our Privacy Policy,
                do not hesitate to contact us.<br><br>

                This privacy policy applies only to our online activities and is valid for visitors to our website with
                regards to the information that they shared and/or collect in QNR. This policy is not applicable to any
                information collected offline or via channels other than this website. <br><br><br>
            </p>
			<h2>Consent</h2>
			<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms. <br><br><br></p>

			<h2>Information we collect</h2>
			<p>
                When you register for an Account, we may ask for your contact information, including items
                such as email address.<br>
                Also, we may ask for some private information such as name, gender, ethnic, religion,and nationality.<br>
                The reason why we need all of the information is because of the distribution of surveys.<br>
                This information will not be shared and accessed by any other users. <br><br><br>
            </p>

			<h2>How we use your information</h2>

				<p>
                    Provide, operate, and maintain our website<br>
                Improve, personalize, and expand our website<br>
                Understand and analyze how you use our website
                </p>


	    </div>
</main>
{% endblock %}