<!-- Use the base template -->
{% extends "base.html" %}

{% block title %}Homepage {% endblock %}
{% block content %}
    <h2>Blog Title</h2>
    <div class="col">
    <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for Cities/Blog Content" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Vivamus arcu felis bibendum ut tristique et. Justo laoreet sit amet cursus. Integer malesuada nunc vel risus.
        In mollis nunc sed id semper risus in hendrerit gravida. Nunc mattis enim ut tellus elementum sagittis vitae et leo.
        Neque egestas congue quisque egestas diam in. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Egestas sed sed risus pretium quam vulputate dignissim.
        Aliquet porttitor lacus luctus accumsan tortor posuere. Aliquet nec ullamcorper sit amet risus nullam.</p>
{% endblock %}
