<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>result</title>
</head>
<body>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Survey</th>
      <th scope="col">Description</th>
        <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>survey 1</td>
      <td>this is survey 1</td>
      <td><a href="#" class="badge badge-light">Show</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>survey 2</td>
      <td>this is survey 2</td>
      <td><a href="#" class="badge badge-light">Show</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Survey 3</td>
      <td>this is survey 3</td>
      <td><a href="#" class="badge badge-light">Show</a></td>
    </tr>
  </tbody>
</table>
    </div>
</body>
</html>