{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post novalidate>
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username, class='form-control') }}
            {{ render_field(form.email, class='form-control') }}
            {{ render_field(form.password, class='form-control') }}
            {{ render_field(form.confirm_password, class='form-control') }}
            {{ render_field(form.gender, class='form-control') }}
            {{ render_field(form.age, class='form-control') }}
            {{ render_field(form.ethnic, class='form-control') }}
            {{ render_field(form.religion, class='form-control') }}
            {{ render_field(form.nationality, class='form-control') }}
            {{ render_field(form.institution, class='form-control') }}
        </dl>
        <br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
        <p>Already Have An Account? <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endblock %}