{% extends "base.html" %}
{% block title %}Take Survey {% endblock %}
{% block content %}
     <h3>
        <div class="mid_relative">My Survey</div>
    </h3>

 <div class="app_page1">
    <div class="row">
        <div class="col-sm-4" id="mid">
          <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
        </div>

{% endblock %}