<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Take Survey</title>
</head>
<body>
<header class="navbar navbar-expand-md navbar-light bg-light">
    <img src="QNR_example_logo.png" alt="QNR Logo" width="108" height="108" class="navbar-brand">
    <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row justify-content-md-center justify-content-lg-end justify-content-sm-center justify-content-xs-center flexwrap collapse navbar-collapse" id="collapsibleNavbar">
        <u1 class="navbar-nav ml-md-auto">
            <li class="nav-item my-2">
                <a class="nav-item nav-link active" href="{{ url_for() }}">Home</a>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Surveys
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for() }}">My surveys</a>
                    <a class="dropdown-item" href="{{ url_for() }}">Take surveys</a>
                    <a class="dropdown-item" href="{{ url_for() }}">Create surveys</a>
                </div>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for() }}">My profile</a>
                    <a class="dropdown-item" href="{{ url_for() }}">Credit</a>
                    <a class="dropdown-item" href="{{ url_for() }}">My library</a>
                    <a class="dropdown-item" href="{{ url_for() }}">Log out</a>
                </div>
            </li>
            <li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for() }}">Privacy policy</a>
                    <a class="dropdown-item" href="{{ url_for() }}">Cookie setting</a>
                </div>
            </li>
             <form class="form-inline" action="search" method="post">
                    <input class="searchuserform mr-md-4" type="search"
                           placeholder="Search users, surveys" aria-label="Search"
                           name="search_term">
                    <button class="search-btn btn-outline-dark my-2" type="submit">Search</button>
                </form>
        </u1>
    </div>
</header>

    <h3>
        <div class="left_relative">Draft</div>
        <div class="right_relative">Completed</div>
    </h3>


 <div class="app_page1">
    <div class="row">
        <div class="col-sm-4" id="left">
          <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
        </div>


        <div class="col-sm-4" id="right">
           <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
            <a href=" " class="list-group-item list-group-item-action flex-column align-items-start take_survey_list_margin">
    <div class="d-flex w-auto justify-content-between">
    <h5 class="mb-1">Search result title 1</h5>
    <small>Search result 1 posting date</small>
    </div>
        <p class="mb-1">Search result 1 description. Maecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.aecenas sed diam eget risus varius blandit.</p >
          </a >
    </div>
  </div>


</body>
</html>